.user-progress-wrapper {
    display: flex;
    flex-direction: column;

    padding: 4px 5px;
}

.progress-bar {
    width: 260px;
    height: 12px;

    overflow: hidden;
}

.user-progress {
    height: 100%;
    background-color: limegreen;
}

.finished {
    background-color: forestgreen;
}

.user-in-game {
    display: flex;
    align-items: center;
}

.ready-status-green:before,
.ready-status-red:before {
    margin-right: 10px;
    content: "";

    display: block;
    width: 10px;
    height: 10px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .12);
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.ready-status-green:before {
    background-color: 	limegreen;
}

.ready-status-red:before {
    background-color: red;
}