@import "./normalize.scss";

@import "./screens/login/index.scss";
@import "./screens/game/index.scss";

._container {
    max-width: 1200px;
    width: 100%;

    padding: 15px;
    margin: 0 auto;
}